{% extends "console/base.html" %}
{% block main %}
        <h2><b>Unhandled Events</b></h2>
        <table class="table table-striped" style="width: 100%;">
        <th style="width: 10%;">Ack</th><th style="width: 15%;">Host</th><th style="width: 15%;">IP Address</th><th style="width: 20%;">Service Name</th><th>Detail</th><th>Recovered</th>
        {% if open_issue_list %}
            {% for  alert in open_issue_list %}
                <tr class='warning'>
                <td><a href="#ackModal" data-id="{{ alert.id }}" class="open-ackModal btn btn-mini btn-primary" data-toggle="modal"><i class="icon-white icon-bullhorn"></i>Acknowledge</a></td>
                <td>{{ alert.host }}</td>
                <td>{{ alert.ipaddress }}</td>
                <td>{{ alert.service }}</td>
                <td>{{ alert.notes }}</td>
                <td>{{ alert.recovered }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No active alerts</p>
        {% endif %}
        </table>

  <h2><b>Handled Active Events</b></h2>
        <table class="table table-striped" style="width: 100%;">
	<th style="width: 13%;">Time Open</th><th style="width: 10%;">Host</th><th style="width: 10%;">IP Address</th><th style="width: 35%;">Service</th><th>Notes</th><th>Actions</th>
        {% if handled_issue_list %}
            {% for  alert in handled_issue_list %}
                <tr class='warning'>
	       <td>1h 30m</td>
               <td>{{ alert.host }}</td><td>{{ alert.ipaddress }}</td><td>{{ alert.service }}</td><td>{{ alert.notes }}</td>
               <td><div class="btn-group"><a class="btn btn-info btn-small dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i> Actions
               <span class="caret"></span></a><ul class="dropdown-menu"><li><a href="#detailModal" data-id="'.$id.'" class="open-detailModal" data-toggle="modal"><i class="icon-wrench"></i>Info</a></li><li><a class="unack" data-id="$id" tabindex="-1">
               <i class="icon-remove"></i>Un-Acknowledge</a></li><li><a class="unack" data-id="$id" tabindex="-1">
               <i class="icon-comment"></i>Add Note</a></li></ul></div></td></tr>
            {% endfor %}
        {% else %}
            <p>No handled alerts</p>
        {% endif %}
        </table>

<script type="text/javascript">
</script>
{% endblock %}
