<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NOC Management Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/console/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/console/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/console/assets/ico/favicon.ico">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
$(document).on("click", ".open-ackModal", function () {
        var notes = $('textarea#notes').val();
        var eid = $(this).data('id');
        $(".modal-body #recordId").val( eid );
});

$(document).on("click", ".ack-btn", function () {
        var notes = $('textarea#notes').val();
        var eid = $('.modal-body #recordId').val();
        $.ajax({ url: eid+'/'+notes+'/ajaxvote' });
});

</script>

</head>

<body>
<div class="container-fluid">
        <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
    			<div>
				<a class="brand">
		 		<img src=" style="width: 60px;height: 40px"/>
			 	<b>NOC Management Portal</b>
				</a>
			</div>
		</div>
	</div>
	<div class="row-fluid">
    		<div class="span3">
        		<div style="padding-top: 1px;" class="hero-unit">
        			<div id="detail-status"><h2> Blah Blah</h2></div>
        		</div>
    		</div>
	<div class="span9">
		<div style="padding-top: 1px;" class="hero-unit">
			<div id="main">
			{% block main %}{% endblock %}
			</div>
		</div>
	</div>
</div>
<!-- Acknowledgment Modal Window -->
<div id="ackModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="ackModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="ackModalLabel">Acknowledge Alert</h3>
  </div>
  <div class="modal-body">
        <b>Notes:</b><br/>
        <textarea id="notes" name="notes" value="notes" rows="4"></textarea>
         <input type="text" style="display:none;" name="recordId" id="recordId" />
 </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="event_id" name="event_id" class="ack-btn btn btn-primary" data-dismiss="modal" aria-hidden="true">Acknowledge</button>
  </div>
</div>
</div>

<!-- Event Info Modal Window -->
<div id="detailModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-header1">
  </div>
  <div id="modal-body1" class="modal-body1">
        <input type="text" style="display:none;" name="record_id" id="record_id" />
  </div>
  <div class="modal-footer1">
  	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
</div>

   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/console/assets/js/jquery.js"></script>
    <script src="/static/console/assets/js/bootstrap.js"></script>
</body>
</html>

