<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NOC Management Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>

</head>

<body>
<div class="container-fluid">
        <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div><a class="brand">
	 <img src=" style="width: 60px;height: 40px"/>
	 <b>NOC Management Portal</b>
	</a>
    </div>
        <ul class="nav">
      <li class="active"><a href="/portal/event/index.html">Event Management</a></li>
      </ul>
	<div id="status"></div>
        </div>
</div>
  <div class="row-fluid">
    <div class="span3">
	<div style="padding-top: 1px;" class="hero-unit">
	<div id="detail-status"></div>
	</div>
    </div>
    <div class="span9">
	<div style="padding-top: 1px;" class="hero-unit">
        <h2><b>Unhandled Events</b></h2>
	<div id="main">
	{% if latest_question_list %}
	    <ul>
	    {% for  alert in latest_question_list %}
        	<li>{{ alert.host }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No active alerts</p>
	{% endif %}
	</div>
	</div>
    </div>
  </div>
</div>
<!-- Acknowledgment Modal Window -->
<div id="ackModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="ackModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="ackModalLabel">Acknowledge Alert</h3>
  </div>
  <div class="modal-body">
        <b>Notes:</b><br/>
        <textarea id="notes" name="notes" value="notes" rows="4"></textarea>
         <input type="text" style="display:none;" name="record_id" id="record_id" />
 </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>

    <button id="event_id" name="event_id" class="ack-btn btn btn-primary" data-dismiss="modal" aria-hidden="true">Acknowledge</button>
  </div>
</div>
</div>

<!-- Event Info Modal Window -->
<div id="detailModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-header1">
  </div>
  <div id="modal-body1" class="modal-body1">
        <input type="text" style="display:none;" name="record_id" id="record_id" />
  </div>
  <div class="modal-footer1">
  	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
</div>

   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>
</html>

